<h1>Item Details</h1>
<hr>

<h3>Item: <i><%= @todo.item %></i></h3>

  <h4>
    Priority:
     <% case @todo.priority %>
        <% when 1 %>
          <i> Low </i>
        <% when 2 %>
          <i> Normal </i>
        <% when 3 %>
          <i> High </i>
      <% end %>
  </h4>


<h4>
Details: <i><%= @todo.details %></i>
</h4>

<h5>
  Completed: <%= @todo.complete ? 'Yes' : 'No' %>
</h5>
